* {
  --color-texto: #555555;
  --bkgnd-pagina: #292929;
  --gradient-start: #6db1ff;
  --gradient-end: #014ba0;
  --gradient2-start: #8dff8d;
  --gradient2-end: #01fc01;
  --gradient3-start: #ff8282;
  --gradient3-end: #ff3939;
}

html {
  height: 100vh;
  width: 100vw;
  background-color: var(--bkgnd-pagina);
}

body {
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  padding: 0;
  margin: 0;
  border: none;
}

.pie_pagina {
  width: 340px;
  height: auto;
}

.creditos {
  margin: 15px 0 0 0;
  font-family: system-ui;
  font-weight: bold;
  color: var(--color-texto);
  text-align: center;
}

@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(72deg);
  }
  40% {
    transform: rotate(144deg);
  }
  60% {
    transform: rotate(216deg);
  }
  80% {
    transform: rotate(288deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
Descubri que las variables que ingrese en root, se pueden usar en todos los archivos css, basta declararlo en 1, tambien los jeyframes, parecen ser globales
*/
