* {
  --color-texto: #555555;
  --bkgnd-pagina: #292929;
  --gradient-start: #8ec3ff;
  --gradient-end: #014ba0;
  --gradient2-start: #8dff8d;
  --gradient2-end: #01fc01;
  --gradient3-start: #ff8282;
  --gradient3-end: #ff3939;
}

html {
  height: 100vh;
  width: 100vw;
  background-color: var(--bkgnd-pagina);
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding: 0;
  margin: 0;
  border: none;
}

.cabecera {
  width: 100%;
  height: 40px;
}

.pie_pagina {
  width: 100%;
  height: auto;
  margin: auto 0 15px 0;
}

.creditos {
  text-align: center;
}

/*
Descubri que las variables que ingrese en root, se pueden usar en todos los archivos css, basta declararlo en 1, tambien los jeyframes, parecen ser globales
*/
