.boton {
  width: 104px;
  height: 41px;
  position: relative;
  margin-top: 20px;
}

.boton_entrar {
  width: 100px;
  height: 37px;
  border-radius: 15px;
  border-style: none;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.back_boton {
  width: 104px;
  height: 41px;
  border-radius: 15px;
  display: grid;
  place-content: center;
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 1;
}

.back2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
