.contenedor_foto,
.foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.contenedor_foto {
  border: 3px solid var(--gradient-end);
  margin-bottom: 15px;
}

.foto {
  background-image: url(../../assets/default/usuario.png);
  background-repeat: no-repeat;
  background-position: 0px 12px;
  background-size: cover;
  filter: invert();
  box-sizing: border-box;
}
