.labels {
  align-self: start;
  letter-spacing: 3px;
  margin: 0 0 15px 5px;
}

.contenedor_usuario,
.contenedor_clave {
  width: 206px;
  height: 41px;
  position: relative;
  margin-bottom: 20px;
}

.usuario,
.clave {
  width: 202px;
  height: 37px;
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  position: absolute;
  text-indent: 10px;
  top: 0;
  left: 0;
  z-index: 2;
  outline: none;
  caret-color: var(--color-texto); /*cambia color de | de texto*/
}

.back_usuario,
.back_clave {
  display: grid;
  place-content: center;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 206px;
  height: 41px;
  border-radius: 15px;
  z-index: 1;
}

.back {
  width: 210px;
  height: 210px;
  border-radius: 50%;
}
